#slider-section
	.circle
		img.segment(src='/uploads/segment1.png')
	each slide in slides
		section.slide.active(style='background-image: url(uploads/#{slide.image.filename});')
			.slide-content
				h1 #{slide.title}
				h3 #{slide.SubTitle}
				p #{slide.body}
				if slide.type == 'Search'
					form.search
						input#search-input(type="text", placeholder="Search Components")
						input#search-btn(type="button", value="search")
				else
					a.btn.btn-primary.btn-lg(href='#{slide.link}', role='button') #{slide.Cta}
	//- each v in vs
	//- 	div #{v.title}
	//- each slide in slides
	//- 	aside.v-components
	//- 		.section-0.right-side
	//- 			.v-img-wrap
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 		.section-1.right-side
	//- 			.v-img-wrap
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 		.section-2.right-side
	//- 			.v-img-wrap
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 				.v-img-container
	//- 					span this is the hover content
	//- 		.section-3.right-side
	//- 			.v-img-wrap
	//- 				.v-img-container
	//- 					span this is the hover content