#slider-section
	.circle
		img.segment(src='/uploads/segment1.png')
	each slide in slides
		section.slide.active(style='background-image: url(uploads/#{slide.image.filename});')
			.slide-content
				h1 #{slide.title}
				h3 #{slide.SubTitle}
				p #{slide.body}
				if slide.type == 'Search'
					form.search
						input#search-input(type="text", placeholder="Search Components")
						input#search-btn(type="button", value="search")
				else
					a.btn.btn-primary.btn-lg(href='#{slide.link}', role='button') #{slide.Cta}
	-var index = slides.length - 1;
	aside.v-components
		while index >= 0
			div(class="section-#{index}").right-side
				.v-img-wrap
					each v in slides[index--].V
						.v-img-container
							h4 #{v.title}
							span #{v.excerpt}
								a(href='v/#{v.slug}')
									p #{v.slug}